<!DOCTYPE html>
<html lang="{{ site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">

<head>
    {{- partial "head.html" . }}
</head>

<body class="
{{- if (or (ne .Kind `page` ) (eq .Layout `archives`) (eq .Layout `search`)) -}}
{{- print "list" -}}
{{- end -}}
{{- if eq site.Params.defaultTheme `dark` -}}
{{- print " dark" }}
{{- end -}}
" id="top">
    {{- partialCached "header.html" . .Page -}}
    <main class="main">
        {{- block "main" . }}{{ end }}
    </main>
    
    <div class="archive-year">
        <h2 class="archive-year-header">Tech 🦾</h2>
        <div class="archive-month">
            <!-- data/Zenn.json の内容を読み込む -->
            {{ $Zenn := $.Site.Data.Zenn }}
            <h3 class="archive-month-header">
            <a href="{{ $Zenn.profile_url }}" target="_blank" rel="noopener noreferrer">Zenn</a>
            -
            <a href="{{ $Zenn.rss_url }}" target="_blank" rel="noopener noreferrer">RSS</a>
            </h3>
            <div class="archive-posts">
            <!-- 配列で格納されている記事情報を繰り返し処理で取得する -->
            {{- range $Zenn.items }}
            <div class="archive-entry" key="{{ .url }}">
                <h3 class="archive-entry-title">{{ .title }}</h3>
                <div class="archive-meta">{{ .date }} - {{ .content }}</div>
                <a class="entry-link" aria-label="{{ .content }}" href="{{ .url }}" target=" _blank"
                rel="noopener noreferrer"></a>
            </div>
            {{- end }}
            </div>
        </div>
    </div>
    
    {{ partialCached "footer.html" . .Layout .Kind (.Param "hideFooter") (.Param "ShowCodeCopyButtons") -}}
</body>

</html>
